<!DOCTYPE html>
<html>
<head>
	<title>Duck Dash: Add</title>
	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
<style type="text/css">

	html {
		text-align: center;
	}
	</style>
</head>
<body>
<h2>Add a New Duck</h2>
	<form action="/ducks" method="post">
		<label>Name: <input type="text" name="name"></input></label>
		<label>Age: <input type="int" name="age"></input></label>
		<label>Favorite Food: <input type="text" name="food"></input></label>
		<input type="submit"></input>
	</form>

	
	<a href="/"><button class="button button-primary">View All Ducks</button></a>

</body>
</html>