<!DOCTYPE html>
<html>
<head>
	<title>Duck Dash</title>
	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
	<style type="text/css">

	html {
		text-align: center;
	}
	</style>
</head>
<body>
<h2>Check out this duck</h2>
<hr>
	<h5>Name: <%= duck[0].name %></h5>
	<p>Age: <%= duck[0].age %></p>
	<p>Favorite Food: <%= duck[0].food %></p>
	<p>Date Created: <%= duck[0].created_at %></p>
 
	<a href="/"><button class="button button-primary">View All Ducks</button></a>

</body>
</html>